# Виртуальное окружение
vllm-env/
venv/
env/
.env
.venv/

# Python кэш
__pycache__/
*.py[cod]
*$py.class
legacy/


# Дистрибутивы и сборки
dist/
build/
*.egg-info/

# IDE-специфичные файлы
.idea/
.vscode/
*.swp
*.swo

# Локальные файлы конфигурации
.env
.env.local
.env.*.local

# Файлы логов
*.log
logs/

# Файлы базы данных
*.db
*.sqlite3

# Временные файлы
.DS_Store
Thumbs.db
*.tmp
*.bak

# Файлы тестового покрытия
.coverage
htmlcov/
.pytest_cache/

vllm/
tests/

